.dust {
  position: absolute;
  top: -140px;
  left: 834px;

  offset-path: path(
    "M301.127 0.495605C336.657 5.31313 406.528 64.8468 387.962 151.036C374.353 214.218 270.028 241.857 195.496 256.322C101.521 274.56 21.757 301.343 4.03836 375.158C-21.5162 481.616 98.6839 494.356 129.476 507.197C146.48 514.288 204.802 546.633 210.891 601.162"
  );

  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.dust:hover {
  filter: drop-shadow(0 0 5px rgba(124, 255, 115, 0.8));
}

@keyframes move {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
