body {
  background-color: black;
}
.text_1 {
  fill: blue;
  stroke: yellow;
  stroke-width: 5px;
}

.text_2 {
  fill: red;
  stroke: greenyellow;
  stroke-width: 5px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  animation: draw 1s infinite;
}
.text_3 {
  fill: pink;
}
.text_3:hover {
  fill: rgb(255, 0, 43);
}
.text_4 {
  fill: grey;
}
.text_4:hover {
  fill: rgb(255, 140, 0);
}
.text_5 {
  fill: rgb(170, 0, 255);
  stroke: rgb(153, 255, 0);
  stroke-width: 5px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  stroke-dasharray: 1000;
  stroke-dashoffset: 490;

  animation: draw2 5s infinite ease-out;
}
.rain {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;

  animation: rainy 4s infinite ease;
}
.raindash {
  filter: blur(10);
}
@keyframes draw {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 614;
  }
}
@keyframes draw2 {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 490;
  }
}
@keyframes rainy {
  0% {
    stroke-dasharray: 80;
    stroke-dashoffset: 408;
  }

  100% {
    stroke-dasharray: 80;
    stroke-dashoffset: 268;
  }
}
