.title {
  position: absolute;
  top: 106px;
  left: 100px;
  width: 500px;
  height: auto;

  filter: brightness(0.85);
}

.title:hover {
  animation-name: shine;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.information {
  position: absolute;
  top: 585px;
  left: 40px;
  width: 84px;
  height: auto;
  filter: brightness(0.9);
}

@keyframes shine {
  0% {
    filter: brightness(1.1) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.8));
  }
  50% {
    filter: brightness(1.5) drop-shadow(0 0 7px rgba(255, 255, 255, 0.8));
  }
  100% {
    filter: brightness(1.1) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.8));
  }
}
